*{
    margin: 0px;
    padding: 0px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(220, 15%, 55%);

}
.qr-code-container{
    display: flex;
    flex-direction: column;
    width:50%;
    height: 50%;
    margin: 95px 500px;

    padding: 20px;
    background-color: hsl(0,0%,100%);
    border-radius: 10px;
    gap: 10px;
}
img {
    height: 50%;
    width: 100%;
    border-radius: 10px;

}

.first-para{
    font-weight: 700;
    color: black;
    text-align: center;
    flex-wrap: wrap;
}
.second-para {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    text-align: center;
    flex-wrap: wrap;

}